run = "python3 main.py"
entrypoint = "main.py"
modules = ["python-3.11"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "python3 main.py"]

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true
